# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE settings
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local development files
.DS_Store
*.local

# Sensitive information
.env